<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAV8riGpBCoOvrDzvJBqKvjkdk5m4hxfXs</string>
	<key>GCM_SENDER_ID</key>
	<string>100582458375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aleksandra.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-5d1b8</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-5d1b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100582458375:ios:92a4682e7ff0f2342fd6a2</string>
</dict>
</plist>